@import url("./mycss.css");

.frequentlyBg {
  background-image: url("../src/assets/img/png/frequentlyBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.font_feature {
  font-feature-settings: "pnum" on, "lnum" on;
}

.card_shadow {
  box-shadow: 0px 4px 23px rgba(255, 255, 255, 0.1);
  background: rgba(67, 119, 248, 0.07);
}

.showBtn {
  background: linear-gradient(254.15deg, rgba(68, 120, 249, 0.1) 11.47%, rgba(7, 3, 128, 0.1) 86.69%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8.5px);
}