@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.ff_raleway {
  font-family: 'Raleway';
}

.ff_inter {
  font-family: 'Inter';
}

.bg_blue_linear {
  background: linear-gradient(254.15deg, #4478F9 11.47%, #070380 86.69%);
}

.header_bg_img {
  background-image: url("./assets/img/png/header_bg_img.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.roadmap_bg_img {
  background-image: url("./assets/img/png/roadmap-bg-img.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.small_circle {
  background: linear-gradient(135deg, #FFFFFF 14.65%, rgba(255, 255, 255, 0.97) 16.07%, rgba(255, 255, 255, 0.63) 33.75%, rgba(255, 255, 255, 0.36) 48.6%, rgba(255, 255, 255, 0.16) 61.32%, rgba(255, 255, 255, 0.04) 71.22%, rgba(255, 255, 255, 0) 76.88%);
  background-blend-mode: overlay;
  mix-blend-mode: overlay;
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.card_bg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4377F8;
  mix-blend-mode: overlay;
  filter: blur(85.5px);
  z-index: -1;
}

.hide_scroll_bar::-webkit-scrollbar {
  display: none;
}

.social_icons::after {
  content: "";
  position: absolute;
  border: 1px solid #4377F8;
  filter: blur(2px);
  height: 33px;
  width: 33px;
  border-radius: 50%;
  top: -1px;
  left: 2px;
}

.timeline_cards {
  background: linear-gradient(0deg, rgba(67, 119, 248, 0.07), rgba(67, 119, 248, 0.07)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 23px rgba(255, 255, 255, 0.1);
}

.timeline_line::after {
  content: "";
  position: absolute;
  height: 100%;
  border: 3px dashed white;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.left_timeline_box::after {
  content: url("./assets/img/svg/timeline_left_img.svg");
  position: absolute;
  right: -68.5%;
  z-index: 10;
  top: 30%;
}
.right_timeline_box::after {
  content: url("./assets/img/svg/timeline_right_img.svg");
  position: absolute;
  left: -68.5%;
  z-index: 10;
  top: 30%;
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}