@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.ff_raleway {
  font-family: "Raleway";
}

.ff_inter {
  font-family: "Inter";
}

.ff_Firasans {
  font-family: "Fira Sans", sans-serif;
}

.bg_blue_linear {
  background: linear-gradient(254.15deg, #4478f9 11.47%, #070380 86.69%);
}

.header_bg_img {
  background-image: url("./assets/img/png/header_bg_img.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.header_img_2 {
  background-image: url("./assets/img/png/2nd-header-img.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.roadmap_bg_img {
  background-image: url("./assets/img/png/roadmap-bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.create_token_bg_img {
  background-image: url('./assets/img/png/create-token-bg-img.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.airdrop_bg_img {
  background-image: url('./assets/img/png/token_airdrop_bg_img.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.small_circle {
  background: linear-gradient(135deg,
      #ffffff 14.65%,
      rgba(255, 255, 255, 0.97) 16.07%,
      rgba(255, 255, 255, 0.63) 33.75%,
      rgba(255, 255, 255, 0.36) 48.6%,
      rgba(255, 255, 255, 0.16) 61.32%,
      rgba(255, 255, 255, 0.04) 71.22%,
      rgba(255, 255, 255, 0) 76.88%);
  background-blend-mode: overlay;
  mix-blend-mode: overlay;
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.blackchain_text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4377f8;
  mix-blend-mode: overlay;
  filter: blur(85.5px);
  z-index: -1;
}

.hide_scroll_bar::-webkit-scrollbar {
  display: none;
}

.social_icons::after {
  content: "";
  position: absolute;
  border: 1px solid #4377f8;
  filter: blur(2px);
  height: 33px;
  width: 33px;
  border-radius: 50%;
  top: -1px;
  left: 2px;
}

.timeline_cards {
  background: linear-gradient(0deg, rgba(67, 119, 248, 0.07), rgba(67, 119, 248, 0.07)),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 23px rgba(255, 255, 255, 0.1);
}

.timeline_line::after {
  content: "";
  position: absolute;
  height: 115%;
  width: 10px;
  background-image: url("../src/assets/img/svg/Line.svg");
  top: 52px;
  left: 16px;
  z-index: -1;
}

.connect_wallet_btn:hover {
  background: #4277F8 !important;
}

.menu-item {
  background: white !important;
}

/*<--------------CUSTOM-CHECHBOX-------------> */
.styled-checkbox {
  position: absolute;
  display: none;

  &+label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  &+label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 24px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #293261;
    background: #111A4F;
  }

  &:focus+label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  &:checked+label:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow:
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}

/*<--------------CUSTOM-CHECHBOX-END-------------> */
.frequentlyBg {
  background-image: url("../src/assets/img/png/frequentlyBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.font_feature {
  font-feature-settings: "pnum" on, "lnum" on;
}

.card_shadow {
  box-shadow: 0px 4px 23px rgba(255, 255, 255, 0.1);
  background: rgba(67, 119, 248, 0.07);
}

.showBtn {
  background: linear-gradient(254.15deg, rgba(68, 120, 249, 0.1) 11.47%, rgba(7, 3, 128, 0.1) 86.69%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8.5px);
}

.back_totop_animation {
  animation: backtotop 2s linear infinite;
}

/*--------SLIDER----------*/
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 10px !important;
  left: 0;
  width: 5px !important;
  height: 5px !important;
  content: '' !important;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  opacity: .25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
  appearance: none;

}

select.dropdown_arrow {
  background-image: url("./assets/img/svg/dropdown_arrow.svg");
  background-repeat: no-repeat;
  background-size: 14px 8px;
  background-position: calc(100% - 15px) 25px, calc(100% - 20px) 1em, 100% 0;
}

/*------ANIMATIONS-------*/
.rotate_animation {
  animation: rotate_animation 8s linear infinite;
}

.preloader_animation {
  animation: preloader 3s linear infinite;
}

@keyframes preloader {
  50% {
    scale: 1.3;
  }
}

@keyframes backtotop {
  50% {
    transform: translateY(-5px);
  }
}

@keyframes rotate_animation {
  0% {
    rotate: 0;
  }

  100% {
    rotate: 360deg;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@media (min-width:640px) {
  .slick-dots li button:before {
    /* top: -20px !important; */
    left: 0;
  }
}

@media (min-width: 767.98px) {
  .bg_blaspad_img {
    background-image: url("./assets/img/png/rewards_bg_img.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .footer_bg_clouds {
    background-image: url("../src//assets/img/png/footer_clodly_img.png");
  }


}

@media (max-width:1023.98px) {
  .left_timeline_box::after {
    content: url("./assets/img/svg/timeline_circle.svg");
    position: absolute;
    left: -88px;
    z-index: 10;
    top: 30%;
  }

  .right_timeline_box::after {
    content: url("./assets/img/svg/timeline_circle.svg");
    position: absolute;
    left: -88px;
    z-index: 10;
    top: 30%;
  }
}

@media (min-width:1023.98px) {
  .left_timeline_box::after {
    content: url("./assets/img/svg/timeline_left_img.svg");
    position: absolute;
    right: -70.5%;
    z-index: 10;
    top: 30%;
  }

  .right_timeline_box::after {
    content: url("./assets/img/svg/timeline_right_img.svg");
    position: absolute;
    left: -70.5%;
    z-index: 10;
    top: 30%;
  }

  .timeline_line::after {
    content: "";
    position: absolute;
    height: 110%;
    width: 10px;
    background-image: url("../src/assets/img/svg/Line.svg");
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .left_timeline_box::after {
    content: url("./assets/img/svg/timeline_left_img.svg");
    position: absolute;
    right: -69%;
    z-index: 10;
    top: 30%;
  }

  .right_timeline_box::after {
    content: url("./assets/img/svg/timeline_right_img.svg");
    position: absolute;
    left: -69%;
    z-index: 10;
    top: 30%;
  }

  .header_bg_img {
    background-size: 100% 100%;
  }
}